---

import { cn } from '@lib/utils';
import { Icon } from 'astro-icon/components';

interface Props {
  title: string;
  body: string;
  icon: string;
  class?: string;
}

const { title, body, icon, ...props } = Astro.props;
---

<li class={cn("card list-none inline-block flex-1 text-balance")}>
    <Icon name={icon} class="p-1 mx-auto max-w-full min-w-24" />
    <h3 class={cn(props.class, "uppercase font-bold text-center text-2xl my-2")}>
        {title}
    </h3>
    <!-- <div class="mt-4 flex flex-row gap-2 p-2"> -->
      <p class="font-cursive text-center">
        {body}
      </p>
    <!-- </div> -->
</li>

<style>
  .card {
    background-image: none;
    background-size: 400%;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
  }

  [data-icon] {
      font-size: 5rem;
  }
</style>
