---

const englishLink = `https://nicc-olo-com.translate.goog/${Astro.url.pathname}?_x_tr_sl=it&_x_tr_tl=en&_x_tr_hl=it&_x_tr_pto=wapp&_x_tr_hist=true`

---

<nav>

    <ul>
        <li></li>
    </ul>
</nav>