---
interface Props {
	before_title?: string;
}

const { before_title } = Astro.props;
---

<section class="my-4 text-center uppercase font-extrabold p-4 bg-background">
    <h2 class="text-4xl">
        {before_title && `${before_title}, `} Vuoi vedere i miei lavori?
    </h2>
    <div class="flex flex-row flex-wrap gap-4 mt-4 text-5xl">
        <a href="#" class="bg-technical py-2 px-4 flex-1 border-8 border-background hover:border-technical focus:border-technical transition-all duration-75 skew-y-1" style="clip-path: polygon(5% 0%, 21% 1%, 43% 0%, 70% 1%, 84% 0%, 99% 2%, 100% 15%, 100% 24%, 99% 94%, 100% 100%, 89% 99%, 60% 100%, 27% 98%, 1% 99%, 0 91%, 1% 83%, 1% 57%, 0 29%, 1% 4%);">
            Technical
        </a>
        <a href="#" class="bg-creative py-2 px-4 flex-1 border-8 border-background hover:border-creative focus:border-creative  transition-all duration-75 -skew-y-1" style="clip-path: polygon(5% 0%, 21% 1%, 43% 0%, 70% 1%, 84% 0%, 99% 2%, 100% 15%, 100% 24%, 99% 94%, 100% 100%, 89% 99%, 60% 100%, 27% 98%, 1% 99%, 0 91%, 1% 83%, 1% 57%, 0 29%, 1% 4%);">
            Creative
        </a>
    </div>
</section>
