/*
	Blazardsky - index.css
	blazardsky.space
	Niccolò Agnoletti
*/


#music {
	background-color: #663399;
	float: right;
	margin: auto;
	padding: 0px 15px;
	text-align: center;
	vertical-align: middle;
	font-size: 1em;
	mix-blend-mode: lighten;
}

#blazardsky {
	width: 100%;
	text-align: center;
	z-index: -1;
	color: #ffffff;
	height: 88vh;
	mix-blend-mode: lighten;
}

#blazardsky:hover {	color: #663399; }
#blazardsky > h1 { font-size: 6.725vw; }

#bgvideo {
	z-index: -2;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
    -webkit-filter: grayscale(100%) contrast(110%);
    filter: grayscale(100%) contrast(110%);
}


@media only screen and (max-width: 1080px) {
	#bgvideo { display: none; }
}