---
import Layout from "@layouts/Layout.astro";

---

<Layout title="Other projects">
  <h1 class="mt-16 m-4 uppercase font-extrabold text-6xl">Progetti secondari, sogni nel cassetto, passatempo</h1>
  <section class="m-4 max-w-3xl">
    <h2 class="mt-8 text-5xl">Progetti editoriali</h2>
    <ul class="mt-2 ml-4 list-disc text-lg">
      <li>
        <a href="#" rel="noopener" target="_blank">Il Pentolino dell'Oste</a> (rivista digitale)
      </li>
      <li>
        <a href="#" rel="noopener" target="_blank">Squarcio</a> (magazine) 
      </li>
      <li>
        <a href="#" rel="noopener" target="_blank">Dal Poggetto all'avventura: Alla scoperta dei posti perduti, che potevano anche rimanere sconosciuti - Edizione "Tavoleto PU"</a> (libro)
      </li>
      <li>
        <a href="#" rel="noopener" target="_blank">Leggi questo libro per avere il sonno agitato per il resto della tua vita</a> (fumetto)
      </li>
    </ul>

    <h2 class="mt-16 text-5xl">Giochi da tavolo e Giochi di ruolo</h2>
    <ul class="mt-2 ml-4 list-disc text-lg">
        <li>
            <a href="#" rel="noopener" target="_blank">ANNO2020</a> (manuale gioco di ruolo)
        </li>
    </ul>

    <h2 class="mt-16 text-5xl">Progetti artistici & di design</h2>
    <ul class="mt-2 ml-4 list-disc text-lg">
        <li>
            <a href="#" rel="noopener" target="_blank">Brains in Pain</a> (abbigliamento)
        </li>
        <li>
            <a href="#" rel="noopener" target="_blank">Galleria Virtuale</a> (raccolta di disegni)
        </li>
        <li>
            <a href="#" rel="noopener" target="_blank">OLŌ-Types</a> (fonts)
        </li>
        <li>
            <a href="#" rel="noopener" target="_blank">Maleficio</a> (abbigliamento) <abbr title="progetto abbandonato">†</abbr>
        </li>
    </ul>
  </section>
</Layout>
