---
import Layout from "@layouts/Layout.astro";
import ProjectList from "@components/ProjectList.astro";
import PAGEDATA from '@data/projects.json';
---

<Layout title="Altri progetti" description="Una raccolta dei miei progetti personali">
  <main class="mx-auto p-4 max-w-3xl">
    <h1 class="my-20 uppercase font-extrabold text-4xl md:text-6xl">Raccolta di progetti e idee.</h1>
    {
      Object.entries(PAGEDATA).map(
        projects => <ProjectList key={projects[0]} data={projects[1]} />
      )
    }
  </main>
</Layout>
