/* License OFL */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Montserrat-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Montserrat-MediumItalic.ttf ) format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Montserrat-Bold.ttf) format('ttf');
}

/* LICENSE: DF5058A0-2F484BC0-8A58E042-A3B9EA14 */
@font-face {
  font-family: 'Maragsa Display';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(../fonts/Maragsa-Display.woff) format('woff');
  src: url(../fonts/Maragsa-Display.woff2) format('woff2');
}



/* SET FONTS */
h1,
h2,
h3,
h4,
.display {
  font-family: 'Maragsa Display', serif;
}

html {
  font-family: 'Montserrat', Roboto, Arial, sans-serif;
}
   