---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Errore 404 - Pagina non trovata">
	<main class="p-4 m-auto max-w-5xl min-h-[70vh] flex justify-center items-start flex-col">
        <img src="/assets/images/fiorellini.png" class="w-36" alt="" />
        <span class="font-mono"> ERR. 404 </span>
		<h1 class="uppercase font-extrabold leading-none text-xl sm:text-3xl lg:text-5xl">
			Mmmmh... sembra che la pagina che stai cercando non esista!
		</h1>
        <p class="mt-4 leading-7 text-lg">
            Forse qualcosa è andato storto o forse il link che hai seguito non è corretto o è stato rimosso. <br>
            Torna alla <a href="/" class="underline">pagina principale</a>.
        </p>
    </main>
</Layout>