@font-face {
    font-family: 'blackcasperregular';
    src: url('./blackcasper-webfont.woff2') format('woff2'),
        url('./blackcasper-webfont.woff') format('woff'),
        url('./BlackCasper.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.punk-font {
    font-family: 'blackcasperregular';
}


@font-face {
    font-family: 'barrioregular';
    src: url('barrio-regular-webfont.woff2') format('woff2'),
         url('barrio-regular-webfont.woff') format('woff'),
         url('Barrio-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.fun-font {
    font-family: 'Barrio', sans-serif;
}
