---
import { cn } from '@lib/utils';

interface Props {
	title: string;
	type: 'creative' | 'technical';
	href: string;
    alt?: string;
    src: string;
}

const { href, title, type, src, alt = '' } = Astro.props;

---

<li class="list-none flex-grow sm:w-[50%] relative group">
  <a href={href} class="w-full block group no-underline">
    <div class={cn(
    type === 'creative' && 'bg-creative group-focus:bg-creative-dark items-start',
    type === 'technical' && 'bg-technical group-focus:bg-technical-dark items-end',
    "w-full h-full min-h-[20rem] xs:min-h-[24rem] lg:min-h-[26rem] xl:min-h-[50vh] flex flex-col justify-end clip02")}>
      <div class="p-8 sm:p-4 md:p-8 text-center w-full md:w-fit">
        <h2 class="font-cursive font-bold ">{title}</h2>
        <p class="text-xl md:text-2xl !leading-none">
            <slot />
        </p>
      </div>
    </div>
  </a>
  <img
  src={src}
  alt={alt}
  height="384"
  width="384"
  class={cn(
    type === 'creative' && 'w-[30vw] sm:max-w-[25vw] md:max-w-[20vw] left-[25vw] sm:left-auto sm:right-10',
    type === 'technical' && 'w-[50vw] sm:max-w-[40vw] md:max-w-[30vw] left-[20vw] sm:left-5',
    "absolute top-5 h-auto group-hover:scale-125 transition-transform ease-out will-change-transform pointer-events-none z-10"
  )}
/>
</li>

<style>

	.clip02 {
        scale: 1.015;
        padding: 1rem;
	}

</style>