---
interface Props {
	before_title?: string;
    remove_title?: boolean;
}

const { before_title, remove_title = false } = Astro.props;
---

<section class="my-4 text-center uppercase font-extrabold p-4 bg-background">
    {
        !remove_title && (
            <h2 class="text-4xl">
                {before_title && `${before_title}, `} Vuoi vedere i miei lavori?
            </h2>
        )
    }
    <div class="flex flex-row flex-wrap gap-4 mt-4 text-3xl sm:text-5xl">
        <a href="/portfolio/technical" class="bg-technical py-2 px-4 flex-1 border-8 border-technical hover:-rotate-2 focus:rotate-2 transition-all duration-75 skew-y-1 clip03">
            Technical
        </a>
        <a href="/portfolio/creative" class="bg-creative py-2 px-4 flex-1 border-8 border-creative hover:rotate-2 focus:rotate-2 transition-all duration-75 -skew-y-1 clip03">
            Creative
        </a>
    </div>
</section>
