---
import type { MicroCMSImage } from "microcms-js-sdk";
import { getDocuments } from "@lib/microcms";
import { Image } from "astro:assets"
import { cn } from "@lib/utils";

type Work = {
    title: string
    image: MicroCMSImage
}

const works = await getDocuments<Work>('works', { fields: ["image", "title"], limit: 6, }); //"portfolio", "id", "slug"

---
<section class="w-full overflow-clip max-h-[90vh] my-12 md:my-24 py-8 clip03 bg-foreground">
    <div class="grid grid-cols-2 md:grid-cols-3 auto-rows-auto gap-4" id="worksContainer">
        {works.contents.map((work: Work) => 
            //@ts-ignore
            <Image alt={work.title} src={work.image.url} height={work.image.height} width={work.image.width} loading="lazy" class={cn(
            // index === 3 && "col-span-2",
            "even:-rotate-1 odd:scale-95 hover:rotate-1 hover:scale-105 transition-transform will-change-transform"
            )}/> 
        )}
    </div>
</section>

<style>
    .clip03 {
        clip-path: polygon(2% 0%, 10% 2%, 16% 0%, 18% 0%, 26% 2%, 26% 0%, 31% 0%, 32% 0%, 39% 1%, 47% 0%, 47% 4%, 52% 4%, 58% 0%, 63% 2%, 72% 2%, 76% 2%, 80% 3%, 84% 0%, 91% 3%, 96% 0%, 100% 3%, 100% 100%, 93% 99%, 93% 99%, 86% 99%, 85% 99%, 85% 100%, 69% 100%, 63% 98%, 52% 100%, 46% 98%, 40% 100%, 28% 100%, 30% 97%, 21% 98%, 15% 96%, 15% 98%, 5% 99%, 2% 100%, 0% 96%, 0% 10%, 0% 5%, 1% 0%);
    }
</style>

<script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
gsap.registerPlugin(ScrollTrigger) ;

gsap.to('#worksContainer', {
    scale: 1.5,
    duration: 5,
    ease: 'ease',
    scrollTrigger: {
        trigger: '#worksContainer',
        start: 'top center',
        end: 'bottom center',
        toggleActions: 'play reverse play reverse'
    }
});
</script>